#detail_aplikasi{
	padding: 2%;
	/*background: #18BC9C;*/
	background-size: cover;
  	padding-top: 30px;
  	background-image: url(assets/img/pattern.png);
}

.navbar_detail{
	background-color: #222 !important;
  	border-color: #080808;
  	color: #9d9d9d;
}

.leftdes{
	border-radius: 10px;
	background: rgb(211,211,211);
	margin-right: 3%;
}

.foto_detail_apps{
	width: 550px;
	height: 400px;
	padding: 2%;
}

.bg-creator{
	padding: 10px;
}

.foto_detail_apps img{
	border: 10px solid rgb(211,211,211); 
	width: 100%;
	height: 100%;
}

.title2 {
	text-align: center;
	font-family: cursive;
	font-weight: bolder;
	padding: 2%;
}

.deskripsi{
	padding: 40px;
	background: rgb(211,211,211);
	border-radius: 10px; 
	min-height: 515px;
}

.deskripsi p{
	padding: 20px;
}

.pg-name p{
	padding: 0px 0px 0px 50px;
}

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

.modal span{
	color: white !important;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Smaller Screens */
@media only screen and (max-width: 766px){
	body{
		font-size: 8px;
	}

    .modal-content {
        width: 100%;
    }

    .leftdes{
		min-height: 200px;
    }

    .foto_detail_apps{
		width: 140px;
		height: 100px;
	}

	.deskripsi{
		padding: 1px;
		background: rgb(211,211,211);
		border-radius: 10px; 
		min-height: 200px;
	}
}

/*Small devices Tablets(≥768px)*/
@media (min-width: 768px) and (max-width: 991px){ 
	.leftdes{
		min-height: 450px;
    }

    .foto_detail_apps{
		width: 350px;
		height: 200px;
		padding: 2%;
	}

	.deskripsi{
		padding: 20px;
		background: rgb(211,211,211);
		border-radius: 10px; 
		min-height: 400px;
	}
}


/* Medium devices Desktops (≥992px) */
@media (min-width: 992px) and (max-width: 1199px){ 
    .leftdes{
		min-height: 400px;
    }

    .foto_detail_apps{
		width: 450px;
		height: 300px;
		padding: 2%; 
	}

	.deskripsi{
		padding: 40px;
		background: rgb(211,211,211);
		border-radius: 10px; 
		min-height: 400px;
	}
}

/* Large devices Desktops (≥1200px) */
@media (min-width: 1200px) { 
	.leftdes{
		min-height: 515px;
    }

    .foto_detail_apps{
		width: 550px;
		height: 400px;
		padding: 2%;
	}

	.deskripsi{
		padding: 40px;
		background: rgb(211,211,211);
		border-radius: 10px; 
		height: 515px;
	}
}