body
{
  font-family: 'ubuntu', sans-serif;
  overflow-x: hidden;
  position: relative;
}


/* navbar */
#mainnav 
{
	font-weight: 700;
	text-transform: uppercase;
	border: none;
	/* padding: 20px 0; */
	background: transparent;
	position: fixed;
}

#mainnav .navbar-brand {
	font-size: 26px;
	color: white;
	font-weight: bold;
}

/* saat navbar brand on click */
#mainnav .navbar-brand.active,#mainnav .navbar-brand:hover  
{
	color: #008975;
}

/* saat navbar brand on click */
#mainnav .navbar-brand:focus
{

	color: #008975;
}
/* memberi jarak spasi pada navbar nav */
#mainnav .navbar-nav {
	letter-spacing: 2px; 
}

/* memberi warna dan ukuran pada item navbar */
.navbar-nav li.nav-item a.nav-link 
{
	color: white;
	font-weight: bold;
	font-size : 16px;
}
/* menambahkan warna hover ketika mouse melewati/melihat item */
#mainnav .navbar-nav li.nav-item a.nav-link:hover 
{
	background: #00AA99; /*warna orange*/
	outline: none; 
}
/* menambahkan on click/focus pada item navbar */
#mainnav .navbar-nav li.nav-item a.nav-link:focus 
{
	background: #008975; /*warna orange lebih gelep*/
}

/* memberi warna pada item toggler */
#mainnav .navbar-toggle {
	font-size: 14px;
	padding: 11px;
	text-transform: uppercase;
	color: white;
	border-color: white; 
}

#mainnav .navbar-toggle:hover 
{
	color: #00AA99; /*warna orange*/
	background: transparent;
	border-color: #00AA99; /*warna orange*/
}
#mainnav .navbar-toggle:focus 
{
	color: #00AA99; /*warna orange*/
	border-color: white;
}

/*navbar detail*/
.subnav .navbar-brand {
  font-size: 26px;
  color: white;
  font-weight: bold;
}

#tabhome { 
  margin-bottom: 0;
  text-align: center;
  background-image: url(assets/img/logo/Bg_hom.jpg);
  background-size: cover;
  height: 850px;
  padding : 70px 0 0 0;
}
#slidedown{
  color : white;
  width: 400px;
}

.txtdec
{
  font-size: 60px;
  font-weight: 100;
  color : white;
  font-family: 'Roboto', sans-serif;
  padding-top: 0px;
}
.banner{
  padding-top: 150px;
  height:280px;
}

.garis
{
  border : 0;
  height: 3px;
  background-color: black;
  background-size: 50px;
  /*background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));*/
  max-width: 50px;
  /* margin: 25px auto 30px; */
  /* padding: 0; */
}

.garis2
{
  border : 0;
  height: 3px;
  background-color: white;
  background-size: 50px;
  /*background-image: linear-gradient(to right,rgba(255,255,255,0),rgba(255,255,255,0.75),rgba(255,255,255,0));*/
  max-width: 50px;
  /* margin: 25px auto 30px; */
  /* padding: 0; */
}

#profile-picture {
  padding-top: 10px;
  margin: 0 auto;
  
  background-size: cover;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#tababout {
  background-size: cover;
  /* background-image: url(assets/img/logo/pattern1.png); */
  padding-top : 80px;
  padding-bottom: 50px;
}

#tabportfolio{
  padding-top : 70px;
  margin-bottom: 50px;
  background-size: cover;
  margin-left: 7%;
  /* background-color: #18BC9C; */
  background-image: url(assets/img/pattern.png);
}

#tabcontact {
  padding-top : 70px; 
  background-size: cover;
  background-image: url(assets/img/bg_home.jpg);
  height: 750px;
}

#tcontact {
  color: white;
}

.control-group {
  color: white;
}


#tabongoingproject{
  padding-top : 70px;
  margin-bottom: 50px;
    /* background-image: url(assets/img/logo/pattern1.png); */
}

/*style about*/
    .carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
    /* The controlsy */
    .carousel-control {
      left: -12px;
        height: 40px;
      width: 40px;
        background: none repeat scroll 0 0 #222222;
        border: 4px solid #FFFFFF;
        border-radius: 23px 23px 23px 23px;
        margin-top: 90px;
    }
    .carousel-control.right {
      right: -12px;
    }
    /* The indicators */
    .carousel-indicators {
      right: 50%;
      top: auto;
      bottom: -10px;
      margin-right: -19px;
    }
    /* The colour of the indicators */
    .carousel-indicators li {
      background: #cecece;
    }
    .carousel-indicators .active {
    background: #428bca;
    }

    .zoom-effect {  
      position: relative;
      margin: 0 auto;
      height: 310px;
      width: 333.328px;
      overflow: hidden;  
    }

    .kotak {
      padding-top: 10px;
      position: relative;
      top: 0;
      left: 0;
      height: 200px;
    }
     
    .kotak img {
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
      width: 140px;
      height: 140px;
    }

    .zoom-effect:hover .kotak img {
      -webkit-transform: scale(1.15);
      transform: scale(1.15);
    }

.form-group {
  margin-bottom: 1rem;
}

.form-text {
  display: block;
  margin-top: 0.25rem;
}
.form-control
{
  
}

#contactform{
  align : middle;
}

footer {
  background: rgb(40,40,40); 
  text-align: center;
  padding: 10px;
  color : white;
  /*you could also get rid of the .wrapper justify-content and use margin-top: auto*/
}


/*style aplikasi*/

    .foto_aplikasi{
      width: 350px;
      height: 220px;
      position: relative;
    }

    .foto_aplikasi img{
      width: 100%;
      height: 100%;
    }

    .image {
        display: block;
        width: 100%;
        height: auto;
    }

    .middle > .overlay{
      position: absolute;
      bottom: 100%; 
      left: 0;
      right: 0;
      background-color: rgba(0,191,255,0.9);
      overflow: hidden;
      width: 100%;
      height:0;
      transition: .5s ease; 
    }

    .left > .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: rgba(138,43,226,0.9);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .right > .overlay {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 100%;
        background-color: rgba(30,144,255,0.9);
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
    }

    .left:hover .overlay {
        width: 100%;
    }

    .right:hover .overlay {
        width: 100%;
        left: 0;
    }

    .middle:hover .overlay {
        bottom: 0;
        height: 100%;
    }

    .text {
        padding: 40px;
        text-align: center;
        width: 350px;
        height: 220px;
        color: white;
        font-size: 20px;
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        
    }

    .tombol{
      margin-top: 170px;
      margin-left: 150px;
      float: left;
    }

    .tombol:hover{
      color: #00AA99;
      font-weight: bolder;
    }

    .title {
      font-family: 'ubuntu', sans-serif;
      text-align: center;
      color: white;
      font-weight: bolder;
      padding: 2%;
    }

    #tabportfolio div > .col-md-4 {
      margin: 2% 0% 2% 0%;
    }

    .text h5{
      font-weight: bolder;
    }

    .text p{
      font-size: 14px;
    }

    .buttonAbout {
      background-color: #00AA99;
      color: white;
    }

    .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

/*style ongoing project*/
      .view_detail{
        color: #fff;
      }
      .information{
        color: #012766;
      }
      .brief_title{
        font-size: 18px;
        color: #008975;
      }
      .deskripsi_singkat{
        text-align: justify;
      }
      .image_hover{
        position: relative;
          width: 50%;
      }
      .image_project {
        width: 80%;
        height: 100%;

      }
      .overlay {
        position: absolute;
        bottom: 100%;
        left: 0;
        right: 0;
        background-color: #008CBA;
        opacity: 0.9;
        overflow: hidden;
        width: 80%;
        height:0;
        transition: .5s ease;
      }
      .image_hover:hover .overlay {
        bottom: 0;
        height: 100%;
      }
      .text {
        text-align: center;
        color: #fff;
        font-size: 15px;
        position: absolute;
        overflow: hidden;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }


/* Smaller Screens */
@media only screen and (max-width: 766px){
  #tabportfolio{
    margin-left: 2%;
  }

  #tabportfolio div > .col-md-4 {
    margin: 2% 0% 2% 0%;
  }
}